$spacer: 0.5rem;

$font-family: 'Raleway', sans-serif;
$font-line: 1.8rem;
$font-spacing: 0.05rem;
$font-size--default: 16px;
$font-size--body: 1.5rem;

$color--default: #768390;
$color--muted: #768390;
$color--accent: #539bf5;
$bg--default: #22272e;
$bg--accent: #2d333b;